# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\vGame_bgm_remix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
